# Python Programming

# Python Basics

### Variable Declaration and Initialisation

In [23]:
a=10
b="name"
c=25.67
d='c'

In [18]:
name,price,marks="Puja",259,987
print(name)
print(price)
print(marks)

Puja
259
987

In [20]:
x=y=z=56
a,b,c=89
print(x,',',y,',',z)
print(a,',',b,',',c)

TypeError: cannot unpack non-iterable int object

HENCE INITIALISATION OF SUCH SORT IS NOT POSSIBLE

### Dynamic Declaration

In Python, There is Dynamic Declaration, Hence variable's datatype is directly a function of the value type it holds.

In [32]:
a="name"
print(type(a))

<class 'str'>

When I am changing the type of data from string to float. See what happens

In [50]:
a="name"
print(type(a))
a=56.23
print(type(a))
a=56
print(type(a))
a='c'
print(type(a))
a=[25,"name",25.16,'true']
print(type(a))
a=True
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>

Here we saw how datatype of 'a' changes according to the type of data it holds

Also it is interesting to see how the datatype when a='c' displays string instead of character.

## Rules of Declaration

Same as of C/C++

1.Variable must start with alphabet or _

2.Case Sensitive

3.Keywords Cannot be Used

In [47]:
a1=26
_buy=78
1lk=77

SyntaxError: invalid decimal literal (1301362734.py, line 3)

## Python Data Types

In Python there are 4 types of Data Types

1.Numeric

2.Sequence

3.Dictionary

4.Set

## Numeric Data Type

4 Classes include int,bool,complex,float

### Int Data Type

Unlike C/C++ where size is fixed (4 bytes). Here size is dependent on the basis of the literal Declared

In [61]:
a=569
b=87541661654511646
print(a.__sizeof__())
print(b.__sizeof__())

28
32

Although Value Assigned Changes when declared, The space declared during initial declaration is not deleted

In [64]:
a=15 # Initially Value Assigned and 2 blocks of spaces are created with a and 15
a=22 # A block of 22 is assigned and A now points to it but the block of 15 is not deleted
print(a)

22

### Float Datatype

In [68]:
a=15.369
a=123.166e3
a=19.10E15
print(a)

1.91e+16

Here e or E = 10^(). It is a kind of declaration akin to what we generally write

Suppose we want to declare a=1.5 * 10^(-9)

In [71]:
a=1.5e-9
print(a)

1.5e-09

### Bool Datatype

In Bool Datatype, "True" with a capital T is used and "False" with a capital F is used. 

Mind it!! Don't write small t!!

In [75]:
a=True
b=true
print(type(a))
print(type(b))

NameError: name 'true' is not defined

In [82]:
a=True
b=False
print(int(a))
print(int(b))

1
0

#### (A Slight Introduction to Type Casting)

In [89]:
c=15
print(bool(c))
d=0
print(bool(d))

True
False

## Complex Datatype

In Python Complex Data Type is predefined and can be initialised in the format (a+bj) where a and b are variables or literals

In [116]:
a=25
b=36.23
c=complex(a,b)
print(c,type(c))

(25+36.23j) <class 'complex'>

In [100]:
a=13+59.24j
print(type(a))
print(a.__sizeof__)

<class 'complex'>
<built-in method __sizeof__ of complex object at 0x000001710980DE90>

Common practices we use are

In [109]:
a=15+78j
print(a.real , a.imag)
c=complex(15,12.3)
print(c)
d=complex(45)
print(d)

15.0 78.0
(15+12.3j)
(45+0j)

So attributes 'real' and 'imag' are used to represent the real and imaginary parts respectively

## Literals

##### Integer Literals

In [137]:
a=1256 #here 1256 is a literal
b=12_536
c=1_2_3_456_7894
d=1496_45_63
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

_ can be used almost after every number and number will be declared.

##### Float Literals

In [129]:
a=12.3646e2
b=12562_23.8_9416e3
print(type(a),type(b))
print(a,b)

<class 'float'> <class 'float'>
1236.46 1256223894.16

 **NOTE** - But before and after decimal "_(underscore)" cannot be used

In [132]:
a=12_365._46

SyntaxError: invalid decimal literal (870224494.py, line 1)

##### Complex Literals

In [147]:
a=5_98+4.2_87j
print(a)

(598+4.287j)

## Literals and Number System

When we want to store integers based on Base Conversion, "0bxxxx" is denoted where b=base('b' for binary,'o' for octal,'x' or 'X' for hexadecimal)

In [160]:
a=0b1010
print(a)
b=0o123
print(b)
c=0xABC
print(c)
g=0Xb
print(g)

10
83
2748
11

But in terms of Complex Numbers, Only Real Part can be displayed

In [167]:
a=0x12aB+456j
b=0b101101+23.0326e3j
print(a,b)

(4779+456j) (45+23032.6j)

## Input Taking

In [173]:
a=input("Enter a =")
b=input("Enter b=")
c=a+b
print("Sum of",a,"and ",b,"is ",c)
print(type(a),type(b),type(c))

Enter a = 15
Enter b= 236

Sum of 15 and  236 is  15236
<class 'str'> <class 'str'> <class 'str'>

**This Example is mind blowing, these indicates that when we take input, untill typecasted, it is stored as string by default**

## TypeCasting

**To convert the type of datatype we want to register, we do TypeCasting**

In [186]:
a=int(input("Enter a="),2) #int(number,base)
b=bool(input("Enter b="))
c=a+b
print(a," + ",b," =",c)

Enter a= 0b110101
Enter b= LOVE

53  +  True  = 54

**WE USE int(), bool(), float(), complex(), str() for typecasting**

In [190]:
price=complex(float(input("Enter Real Part=")),float(input("Enter Imaginary Part=")))
print(price)

Enter Real Part= 3.55691
Enter Imaginary Part= 61526.62

(3.55691+61526.62j)

In [194]:
a=complex(int(input("Real=")),int(input("Imag=")))
b=complex(int(input("Real=")),int(input("Imag=")))
c=a+b
print(c)

Real= 152
Imag= 256
Real= 489
Imag= 12

(641+268j)

In [199]:
i=1
f=15.23
b=True
c=10+6j
d='Tim Cheese'
x=complex(i,f)
y=str(c)
s4="0b11010"
t=int(s4,2)
print(x,y,t)

(1+15.23j) (10+6j) 26

**For Bool,**

only when 0 in int,float = false
and if empty string = false,

If Unempty String or non-zero int,float then True

**Legal Conversions**

Bool from All

String from All

Complex from All(Valid)

Integer from Bool,Float and String(if no)

Float from Bool,Float and String(if no)

## Base Conversions

**bin(), oct(), hex() are used and all return string**

In [214]:
x=12356
print(bin(x))
print(oct(x))
print(hex(x))

0b11000001000100
0o30104
0x3044

In [216]:
print(bin(True))
print(hex(False))

0b1
0x0

**These Base Conversions can only be interpreted from integers and Bool(0 and 1)**

In [230]:
print(oct(23+45j))

TypeError: 'complex' object cannot be interpreted as an integer

In [232]:
print(hex(23.45))

TypeError: 'float' object cannot be interpreted as an integer

In [234]:
print(bin("abcd"))

TypeError: 'str' object cannot be interpreted as an integer

In [1]:
print(bin("5"))

TypeError: 'str' object cannot be interpreted as an integer

## Opeators and Expression

### Arithmetic Operations

+,-,*,/,% are used with standard meaning and "**" is used which means power and "//" is used which means floor division.

In [7]:
x=12
y=8
print(x/y)
print(x%y)
print(x//y)
print(x**y)

1.5
4
1
429981696

**// gives the quotient and % gives the remainder**

## Logical Operators and Precedence

**>> Right Shift, << Left Shift, & Bitwise AND, | Bitwise OR, ^ Bitwise X-OR and ~ Bitwise NOT**

In [20]:
a=2
b=3
print(a&b)
print(a|b)
print(~a)
print(bin(~a))
print(b>>a)
print(b<<a)

2
3
-3
-0b11
0
12

### Precedence

(),F(),**,*,/,%,+,-,<<,>>,&,^,| are the Precedence

****Follows Right to Left Precedence and rest left to right**

In [27]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
print(a**b**c) ## a^(b^c) is the operation

a= 2
b= 1
c= 3

2

## Programs using Expression

#### Area of a Triangle

In [36]:
base=float(input("Base="))
Height=float(input("Height="))
Area=(1/2)*base*Height
print("Area is=",Area)

Base= 12
Height= 23

Area is= 138.0

#### Perimeter of a Rectangle

In [40]:
l=int(input("Length="))
b=int(input("Breadth="))
peri=2*(l+b)
print("Perimeter is ",float(peri))

Length= 15
Breadth= 23

Perimeter is  76.0

#### Quadtratic Roots

In [45]:
a=float(input("Enter a="))
b=float(input("Enter b="))
c=float(input("Enter c="))
x1=(-b + (b**2-4*a*c)**(0.5))/(2*a)
x2=(-b - (b**2-4*a*c)**(0.5))/(2*a)
print("Roots are, x1=",x1,"x2=",x2)

Enter a= 2
Enter b= 10
Enter c= 3

Roots are, x1= -0.320550528229663 x2= -4.6794494717703365

## Assignment Arithmetic Operators

In [53]:
count=2
b=44
count+=b
print(count)
count/=b
print(count)
count&=b
print(count)
count^=b
count//=b
print(~count)

46
1.0454545454545454

TypeError: unsupported operand type(s) for &=: 'float' and 'int'

After long division, the count becomes float, hence & operator is invalid

In [58]:
count=2
b=44
count+=b
print(count)
count/=b
print(count)
count-=b
print(count)
count//=b
print(count)

46
1.0454545454545454
-42.95454545454545
-1.0

## Arithmetic Operators on all Data Types

**+,-,*,/,//, * * ,% will work on Integers, Bools and Floats flawlessly.**

**In Complex- %,// do not work since they don't carry any meaning**

In [65]:
a=5+6j
b=3+4j
print(a**b)

(-2.0792516652114816-14.174343908113224j)

**In Strings, only + and * act as follows**

In [70]:
a="hello"
b="hihihi"
print((a+b)*2)

hellohihihihellohihihi

**Any integer, float or complex operation with equivalent datatype results in same datatype**

In [73]:
a=12+2j
b=3+5j
print(a/b)

(1.352941176470588-1.5882352941176472j)

**Any Integer or float operation with Complex number results in class complex**

In [79]:
a=15+6j
b=4
print(type(a/b))

<class 'complex'>

Integer ! float = float    when !=+,-,*,/

So if either of 2 operands is float then resultant datatype is float

In [87]:
a=25.3
b=12
print(type(a+b))
print(type(b//a))

<class 'float'>
<class 'float'>

**In case of Strings, only integer can be multiplied**

In [97]:
a="name"
b="3"
print(a+b)
print(a*int(b))

name3
namenamename

## Conditional Operators

**Relational, Logical Operators and if-else statement block is executed in sync**

In [105]:
a=int(input("a="))
if (a>0):
    print(a,"is positive")
elif (a==0):
    print(a,"is zero")
else:
    print(a,"is negative")

a= -3

-3 is negative

In [109]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
if (a>b) and (a>c):
    print(a,"is the greatest")
elif (b>c):
    print(b,"is the greatest")
else:
    print(c,"is the greatest")

a= 15
b= 20
c= 4

20 is the greatest

## Sample Programs

**Check male or female**

In [115]:
gender=input(" male or female=")
if(gender=="m" or gender=="M" or gender=="male" or gender=="Male"):
    print("Male")
elif (gender=="f" or gender=="F" or gender=="Female" or gender=="female"):
    print("Female")
else:
    print("Incorrect Input")

 male or female= Female

Female

**Check Vowel Consonant**

In [118]:
ch=input("Enter an alphabet")
if(ch=='a' or ch=='e' or ch=='i' or ch=='u' or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U"):
    print("vowel")
else:
    print("Consonant")

Enter an alphabet e

vowel

**Leap Year**

In [121]:
year=int(input("Enter Year:"))
if((year%100!=0 and year%4==0) or year%400==0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter Year: 2000

2000 is a leap year

**Oldest Age**

In [124]:
john=int(input("Enter John's age="))
Mark=int(input("Enter Mark's age="))
Nat=int(input("Enter Nat's age="))
if(john>Mark and john>Nat):
    print("John is the Oldest")
else:
    if(Mark>Nat):
        print("Mark is Oldest")
    else:
        print("Nat is Oldest")

Enter John's age= 23
Enter Mark's age= 45
Enter Nat's age= 10

Mark is Oldest

## String Comparision

**Strings are compared wrt Lexicographic Order**

Numbers< Uppercase Letter < Lowercase Letter (As per ASCII Codes)

Also if "abc" and "abcd" then bigger word>smaller word

In [138]:
s1="software"
s2="Hardware"
s1>s2

True

In [140]:
s1="python"
s2="pycharm"
s2>s1

False

In [142]:
s1="integer"
s2="integer"
s1==s2

True

In [144]:
s1="print"
s2="printer"
s1>s2

False

## DataType Comparisions

Integer and Float works with every other relational Operators

In [162]:
#Bool Comparisions
True!=False
True>=False
True<False
#only last condition will return since we are not using print

False

In terms of Complex numbers, Mathematically they cannot be compared and can only be checked Equality both in Mathematics and Computing

In [166]:
b=complex(15,23.65)
c=complex(2,31.26)
b!=c

True

## Short Circuit Conditions

**Visualisation of AND Short Circuit**

In [186]:
i=1
j=2
c=(i>=j) and (++i==j)
print(i)
print(c)

1
False

Hence you can see that i is not incremented

**Visualisation of OR Short Circuit**

In [190]:
i=1
j=2
c=(i<j) or (++i>j)
print(i)
print(c)

1
True

Hence you can see that i is not incremented

**Visualisation of Non Boolean Conditions**

In [196]:
print(5 or 10)
print(-3 or 12)
print(0 and 156)
print(5 and 10)
print(-12 or 13)

5
-3
0
10
-12

**NOTE--** So in case of Boolean it's only True(!0) or False(0) and always displays the number on checking with Short Circuit Conditions Applied

**Comparisions of integer based on Conditional Operators**

In [208]:
a=10
print(format(a,"b"))
b=3
print(format(b,"b"))
print(a,"|",b,"is=",a|b)
print(a,"&",b,"is=",a&b)
print(a,"^",b,"is=",a^b)
print(a,"//","2^(",b,") is=",a>>b)
print(a,".","2^(",b,") is=",a<<b)

1010
11
10 | 3 is= 11
10 & 3 is= 2
10 ^ 3 is= 9
10 . 2^( 3 ) is= 1
10 // 2^( 3 ) is= 80

Right shift Indication= a>>b--->a/2^b 

Left shift Indication= a<<b--->a*2^b

## Chaining Comparisions

This methodolgy is intrinsic only to Python and is very useful.

It can be abbreviated as--

a>b and b>c and c>d

a>b>c>d

In [222]:
a=10
b=8
c=6
d=12
print(a>b>c>d) # (a>b and b>c and c>d) 
print(a>b>c<d) # (a>b and b>c and c<d)

False
True

## Is and IsNot

In [227]:
a="hello"
b="hello"
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
False
2594744252672
2594744252672

**Here is and is not are basically checkers whether variables point to the same literal designated space.**

In [230]:
a=12
b=13
print(id(a))
print(id(b))
print(a is not b)

140728769456920
140728769456952
True