# Python Programming

# Python Basics

### Variable Declaration and Initialisation

In [7]:
a=10
b="name"
c=25.67
d='c'

In [8]:
name,price,marks="Puja",259,987
print(name)
print(price)
print(marks)

Puja
259
987

In [9]:
x=y=z=56
a,b,c=89
print(x,',',y,',',z)
print(a,',',b,',',c)

TypeError: cannot unpack non-iterable int object

HENCE INITIALISATION OF SUCH SORT IS NOT POSSIBLE

### Dynamic Declaration

In Python, There is Dynamic Declaration, Hence variable's datatype is directly a function of the value type it holds.

In [ ]:
a="name"
print(type(a))

<class 'str'>

When I am changing the type of data from string to float. See what happens

In [ ]:
a="name"
print(type(a))
a=56.23
print(type(a))
a=56
print(type(a))
a='c'
print(type(a))
a=[25,"name",25.16,'true']
print(type(a))
a=True
print(type(a))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'list'>
<class 'bool'>

Here we saw how datatype of 'a' changes according to the type of data it holds

Also it is interesting to see how the datatype when a='c' displays string instead of character.

## Rules of Declaration

Same as of C/C++

1.Variable must start with alphabet or _

2.Case Sensitive

3.Keywords Cannot be Used

In [ ]:
a1=26
_buy=78
1lk=77

SyntaxError: invalid decimal literal (1301362734.py, line 3)

## Python Data Types

In Python there are 4 types of Data Types

1.Numeric

2.Sequence

3.Dictionary

4.Set

## Numeric Data Type

4 Classes include int,bool,complex,float

### Int Data Type

Unlike C/C++ where size is fixed (4 bytes). Here size is dependent on the basis of the literal Declared

In [ ]:
a=569
b=87541661654511646
print(a.__sizeof__())
print(b.__sizeof__())

28
32

Although Value Assigned Changes when declared, The space declared during initial declaration is not deleted

In [ ]:
a=15 # Initially Value Assigned and 2 blocks of spaces are created with a and 15
a=22 # A block of 22 is assigned and A now points to it but the block of 15 is not deleted
print(a)

22

### Float Datatype

In [ ]:
a=15.369
a=123.166e3
a=19.10E15
print(a)

1.91e+16

Here e or E = 10^(). It is a kind of declaration akin to what we generally write

Suppose we want to declare a=1.5 * 10^(-9)

In [ ]:
a=1.5e-9
print(a)

1.5e-09

### Bool Datatype

In Bool Datatype, "True" with a capital T is used and "False" with a capital F is used. 

Mind it!! Don't write small t!!

In [ ]:
a=True
b=true
print(type(a))
print(type(b))

NameError: name 'true' is not defined

In [ ]:
a=True
b=False
print(a)
print(int(a))
print(b)
print(int(b))

True
1
False
0

#### (A Slight Introduction to Type Casting)

In [ ]:
c=15
print(bool(c))
d=0
print(bool(d))

True
False

## Complex Datatype

In Python Complex Data Type is predefined and can be initialised in the format (a+bj) where a and b are variables or literals

In [ ]:
a=25
b=36.23
c=complex(a,b)
print(c,type(c))

(25+36.23j) <class 'complex'>

In [ ]:
a=13+59.24j
print(type(a))
print(a.__sizeof__())

<class 'complex'>
32

Common practices we use are

In [ ]:
a=15+78j
print(a.real , a.imag)
c=complex(15,12.3)
print(c)
d=complex(45)
print(d)

15.0 78.0
(15+12.3j)
(45+0j)

So attributes 'real' and 'imag' are used to represent the real and imaginary parts respectively

In [ ]:
com = complex(True,False)
print(com)

(1+0j)

## Literals

##### Integer Literals

In [ ]:
a=1256 #here 1256 is a literal
b=12_536
c=1_2_3_456_7894
d=1496_45_63
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'int'> <class 'int'> <class 'int'>

_ can be used almost after every number and number will be declared.

##### Float Literals

In [ ]:
a=12.3646e2
b=12562_23.8_9416e3
print(type(a),type(b))
print(a,b)

<class 'float'> <class 'float'>
1236.46 1256223894.16

 **NOTE** - But before and after decimal "_(underscore)" cannot be used

In [ ]:
a=12_365._46

SyntaxError: invalid decimal literal (870224494.py, line 1)

##### Complex Literals

In [ ]:
a=5_98+4.2_87j
print(a)

(598+4.287j)

## Literals and Number System

When we want to store integers based on Base Conversion, "0bxxxx" is denoted where b=base('b' for binary,'o' for octal,'x' or 'X' for hexadecimal)

In [ ]:
a=0b1010
print(a)
b=0o123
print(b)
c=0xABC
print(c)
g=0Xb
print(g)

10
83
2748
11

But in terms of Complex Numbers, Only Real Part can be displayed

In [ ]:
a=0x12aB+456j
b=0b101101+23.0326e3j
print(a,b)

(4779+456j) (45+23032.6j)

## Input Taking

In [ ]:
a=input("Enter a =")
b=input("Enter b=")
c=a+b
print("Sum of",a,"and ",b,"is ",c)
print(type(a),type(b),type(c))

Enter a = 15
Enter b= 236

Sum of 15 and  236 is  15236
<class 'str'> <class 'str'> <class 'str'>

**This Example is mind blowing, these indicates that when we take input, untill typecasted, it is stored as string by default**

## TypeCasting

**To convert the type of datatype we want to register, we do TypeCasting**

In [ ]:
a=int(input("Enter a="),2) #int(number,base)
b=bool(input("Enter b="))
c=a+b
print(a," + ",b," =",c)

Enter a= 0b110101
Enter b= LOVE

53  +  True  = 54

**WE USE int(), bool(), float(), complex(), str() for typecasting**

In [ ]:
price=complex(float(input("Enter Real Part=")),float(input("Enter Imaginary Part=")))
print(price)

Enter Real Part= 3.55691
Enter Imaginary Part= 61526.62

(3.55691+61526.62j)

In [ ]:
a=complex(int(input("Real=")),int(input("Imag=")))
b=complex(int(input("Real=")),int(input("Imag=")))
c=a+b
print(c)

Real= 152
Imag= 256
Real= 489
Imag= 12

(641+268j)

In [ ]:
i=1
f=15.23
b=True
c=10+6j
d='Tim Cheese'
x=complex(i,f)
y=str(c)
s4="0b11010"
t=int(s4,2)
print(x,y,t)

(1+15.23j) (10+6j) 26

**For Bool,**

only when 0 in int,float = false
and if empty string = false,

If Unempty String or non-zero int,float then True

**Legal Conversions**

Bool from All

String from All

Complex from All(Valid)

Integer from Bool,Float and String(if no)

Float from Bool,Int and String(if no)

## Base Conversions

**bin(), oct(), hex() are used and all return string**

In [ ]:
x=12356
print(bin(x))
print(oct(x))
print(hex(x))

0b11000001000100
0o30104
0x3044

In [ ]:
print(bin(True))
print(hex(False))

0b1
0x0

**These Base Conversions can only be interpreted from integers and Bool(0 and 1)**

In [ ]:
print(oct(23+45j))

TypeError: 'complex' object cannot be interpreted as an integer

In [ ]:
print(hex(23.45))

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
print(bin("abcd"))

TypeError: 'str' object cannot be interpreted as an integer

In [ ]:
print(bin("5"))

TypeError: 'str' object cannot be interpreted as an integer

## Operators and Expression

### Arithmetic Operations

+,-,*,/,% are used with standard meaning and "**" is used which means power and "//" is used which means floor division.

In [ ]:
x=12
y=8
print(x/y)
print(x%y)
print(x//y)
print(x**y)

1.5
4
1
429981696

**// gives the quotient and % gives the remainder**

## Logical Operators and Precedence

**>> Right Shift, << Left Shift, & Bitwise AND, | Bitwise OR, ^ Bitwise X-OR and ~ Bitwise NOT**

In [ ]:
a=2
b=3
print(a&b)
print(a|b)
print(~a)
print(bin(~a))
print(b>>a)
print(b<<a)

2
3
-3
-0b11
0
12

### Precedence

(),F(),**,*,/,%,+,-,<<,>>,&,^,| are the Precedence

****Follows Right to Left Precedence and rest left to right**

In [ ]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
print(a**b**c) ## a^(b^c) is the operation

a= 2
b= 1
c= 3

2

## Programs using Expression

#### Area of a Triangle

In [ ]:
base=float(input("Base="))
Height=float(input("Height="))
Area=(1/2)*base*Height
print("Area is=",Area)

Base= 12
Height= 23

Area is= 138.0

#### Perimeter of a Rectangle

In [ ]:
l=int(input("Length="))
b=int(input("Breadth="))
peri=2*(l+b)
print("Perimeter is ",float(peri))

Length= 15
Breadth= 23

Perimeter is  76.0

#### Quadtratic Roots

In [ ]:
a=float(input("Enter a="))
b=float(input("Enter b="))
c=float(input("Enter c="))
x1=(-b + (b**2-4*a*c)**(0.5))/(2*a)
x2=(-b - (b**2-4*a*c)**(0.5))/(2*a)
print("Roots are, x1=",x1,"x2=",x2)

Enter a= 2
Enter b= 10
Enter c= 3

Roots are, x1= -0.320550528229663 x2= -4.6794494717703365

## Assignment Arithmetic Operators

In [ ]:
count=2
b=44
count+=b
print(count)
count/=b
print(count)
count&=b
print(count)
count^=b
count//=b
print(~count)

46
1.0454545454545454

TypeError: unsupported operand type(s) for &=: 'float' and 'int'

After long division, the count becomes float, hence & operator is invalid

In [ ]:
count=2
b=44
count+=b
print(count)
count/=b
print(count)
count-=b
print(count)
count//=b
print(count)

46
1.0454545454545454
-42.95454545454545
-1.0

## Arithmetic Operators on all Data Types

**+,-,*,/,//, * * ,% will work on Integers, Bools and Floats flawlessly.**

**In Complex- %,// do not work since they don't carry any meaning**

In [ ]:
a=5+6j
b=3+4j
print(a**b)

(-2.0792516652114816-14.174343908113224j)

**In Strings, only + and * act as follows**

In [ ]:
a="hello"
b="hihihi"
print((a+b)*2)

hellohihihihellohihihi

**Any integer, float or complex operation with equivalent datatype results in same datatype**

In [ ]:
a=12+2j
b=3+5j
print(a/b)

(1.352941176470588-1.5882352941176472j)

**Any Integer or float operation with Complex number results in class complex**

In [ ]:
a=15+6j
b=4
print(type(a/b))

<class 'complex'>

Integer ! float = float    when !=+,-,*,/

So if either of 2 operands is float then resultant datatype is float

In [ ]:
a=25.3
b=12
print(type(a+b))
print(type(b//a))

<class 'float'>
<class 'float'>

**In case of Strings, only integer can be multiplied**

In [ ]:
a="name"
b="3"
print(a+b)
print(a*int(b))

name3
namenamename

## Conditional Operators

**Relational, Logical Operators and if-else statement block is executed in sync**

In [ ]:
a=int(input("a="))
if (a>0):
    print(a,"is positive")
elif (a==0):
    print(a,"is zero")
else:
    print(a,"is negative")

a= -3

-3 is negative

In [ ]:
a=int(input("a="))
b=int(input("b="))
c=int(input("c="))
if (a>b) and (a>c):
    print(a,"is the greatest")
elif (b>c):
    print(b,"is the greatest")
else:
    print(c,"is the greatest")

a= 15
b= 20
c= 4

20 is the greatest

## Sample Programs

**Check male or female**

In [ ]:
gender=input(" male or female=")
if(gender=="m" or gender=="M" or gender=="male" or gender=="Male"):
    print("Male")
elif (gender=="f" or gender=="F" or gender=="Female" or gender=="female"):
    print("Female")
else:
    print("Incorrect Input")

 male or female= Female

Female

**Check Vowel Consonant**

In [ ]:
ch=input("Enter an alphabet")
if(ch=='a' or ch=='e' or ch=='i' or ch=='u' or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U"):
    print("vowel")
else:
    print("Consonant")

Enter an alphabet b

Consonant

**Leap Year**

In [ ]:
year=int(input("Enter Year:"))
if((year%100!=0 and year%4==0) or year%400==0):
    print(year,"is a leap year")
else:
    print(year,"is not a leap year")

Enter Year: 2000

2000 is a leap year

**Oldest Age**

In [ ]:
john=int(input("Enter John's age="))
Mark=int(input("Enter Mark's age="))
Nat=int(input("Enter Nat's age="))
if(john>Mark and john>Nat):
    print("John is the Oldest")
else:
    if(Mark>Nat):
        print("Mark is Oldest")
    else:
        print("Nat is Oldest")

Enter John's age= 23
Enter Mark's age= 45
Enter Nat's age= 10

Mark is Oldest

## String Comparision

**Strings are compared wrt Lexicographic Order**

Numbers< Uppercase Letter < Lowercase Letter (As per ASCII Codes)

Also if "abc" and "abcd" then bigger word>smaller word

In [ ]:
s1="software"
s2="Hardware"
s1>s2

True

In [ ]:
s1="python"
s2="pycharm"
s2>s1

False

In [ ]:
s1="integer"
s2="integer"
s1==s2

True

In [ ]:
s1="print"
s2="printer"
s1>s2

False

## DataType Comparisions

Integer and Float works with every other relational Operators

In [ ]:
#Bool Comparisions
True!=False
True>=False
True<False
#only last condition will return since we are not using print

False

In terms of Complex numbers, Mathematically they cannot be compared and can only be checked Equality both in Mathematics and Computing

In [ ]:
b=complex(15,23.65)
c=complex(2,31.26)
b!=c

True

## Short Circuit Conditions

**Visualisation of AND Short Circuit**

In [ ]:
i=1
j=2
c=(i>=j) and (++i==j)
print(i)
print(c)

1
False

Hence you can see that i is not incremented

**Visualisation of OR Short Circuit**

In [ ]:
i=1
j=2
c=(i<j) or (++i>j)
print(i)
print(c)

1
True

Hence you can see that i is not incremented

**Visualisation of Non Boolean Conditions**

In [ ]:
print(5 or 10)
print(-3 or 12)
print(0 and 156)
print(5 and 10)
print(-12 or 13)

5
-3
0
10
-12

**NOTE--** So in case of Boolean it's only True(!0) or False(0) and always displays the number on checking with Short Circuit Conditions Applied

**Comparisions of integer based on Conditional Operators**

In [ ]:
a=10
print(format(a,"b"))
b=3
print(format(b,"b"))
print(a,"|",b,"is=",a|b)
print(a,"&",b,"is=",a&b)
print(a,"^",b,"is=",a^b)
print(a,"//","2^(",b,") is=",a>>b)
print(a,".","2^(",b,") is=",a<<b)

1010
11
10 | 3 is= 11
10 & 3 is= 2
10 ^ 3 is= 9
10 . 2^( 3 ) is= 1
10 // 2^( 3 ) is= 80

Right shift Indication= a>>b--->a/2^b 

Left shift Indication= a<<b--->a*2^b

## Chaining Comparisions

This methodolgy is intrinsic only to Python and is very useful.

It can be abbreviated as--

a>b and b>c and c>d

a>b>c>d

In [ ]:
a=10
b=8
c=6
d=12
print(a>b>c>d) # (a>b and b>c and c>d) 
print(a>b>c<d) # (a>b and b>c and c<d)

False
True

## Is and IsNot

In [ ]:
a="hello"
b="hello"
print(a is b)
print(a is not b)
print(id(a))
print(id(b))

True
False
2594744252672
2594744252672

**Here is and is not are basically checkers whether variables point to the same literal designated space.**

In [ ]:
a=12
b=13
print(id(a))
print(id(b))
print(a is not b)

140728769456920
140728769456952
True

# Iteration

There are 2 types of loop in Python
1. For Loop (Counter Controlled Loop)
2. While Loop (Sentinel Loop)

### While Loop

General Syntax:
while<condition>:
   
    statement 1
    
    statement 2
    
    statement 3

statement 4

In [10]:
n=5
while(n>0):
    print(n)
    n-=1
print("This is a sequence")

5
4
3
2
1
This is a sequence

### Sample Programs using While Loop

In [7]:
# Reversing a number
n=int(input("Enter a number"))
sum=0
while(n>0):
    r=n%10
    sum=sum*10+r
    n=n//10
print("The reversed number is",sum)

Enter a number 12566

The reversed number is 66521

In [11]:
#Count & Sum of Digits 
n=int(input("Enter the number:"))
count=0
sum=0
while(n>0):
    count+=1
    sum+=(n%10)
    n//=10
print("The Sum of digits is",sum," and count= ",count)

Enter the number: 125

The Sum of digits is 8  and count=  3

In [15]:
#Palindrome check
n=int(input("Enter the number:"))
original=n
sum=0
while(n>0):
    r=n%10
    sum=sum*10+r
    n=n//10
if(original == sum):
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter the number: 1221

Palindrome

# Infinite Loop

General Syntax:

while True:

    statement 1
    
    statement 2
    
    statement 3

In [23]:
i=0
while True:
    i+=1
    print(i)
    if(i==10):
        break

1
2
3
4
5
6
7
8
9
10

## Else suite

while <condition>:

    statement 1
    statement 2
    
else:
    statement 3
    
statement 4

In [30]:
i=0
while(i<4):
    i+=1
    print(i)
else:
    print("End of Loop")
print("Loop Terminated")

1
2
3
4
End of Loop
Loop Terminated

# For Loop / For Each Loop

for variable in sequence:

In [41]:
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [43]:
s1="python"
for x in s1:
    print(x)

p
y
t
h
o
n

## Sample Problems

In [50]:
## Factorial
n=int(input("Enter the number"))
i=n
fac=1
for i in range(n,1,-1):
    fac*=i
print(fac)

Enter the number 5

120

In [76]:
## Prime number
n=int(input("Enter n="))
print("The Prime Numbers are:")
for i in range(2,n,1):
    ct=0
    for j in range(1,i+1,1):
        if(i%j==0):
            ct+=1
    if(ct==2):
        print(i)

Enter n= 100

The Prime Numbers are:
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [68]:
# Fibonacci Series
a=0
b=1
n=int(input("Enter no of terms:"))
for i  in range(0,n+1,1):
    if(i==0):
        print(a)
    if(i==1):
        print(b)
    if(i>1):
        next=a+b
        print(next)
        a=b
        b=next

Enter no of terms: 5

0
1
1
2
3
5

Pass keyword is used to pass the iterations when body of loop is empty

In [71]:
for i in range(1,5):
    pass

Else Suite in For Loop

In [74]:
for i in range(1,2):
    print(i)
else:
    print(2)

1
2

## Pattern Drawing using  Nested Loops

In [83]:
for i in range(1,6):
    for j in range(1,6):
        if(j<=i):
            print("*",end=" ")
    print(" ")

*
* *
* * *
* * * *
* * * * *

In [91]:
for i in range(1,6):
    for j in range(1,6):
        if(j>=i):
            print("*",end=' ')
    print(' ')

* * * * *
* * * *
* * *
* *
*

In [93]:
for i in range(1,6):
    for j in range(1,6):
        if(j>=i):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print(' ')

* * * * *
  * * * *
    * * *
      * *
        *

In [97]:
for i in range(5,0,-1):
    for j in range(1,6):
        if(j>=i):
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print(' ')

        *
      * *
    * * *
  * * * *
* * * * *

## Match Case

Just Like C/C++ Switch Case  but like if-else

In [107]:
n=int(input("ENTER DAY NO="))
match n:
    case 0: print("Monday")
    case 1: print("Tuesday")
    case 2: print("Wednesday")
    case 3: print("Thursday")
    case 4: print("Friday")
    case 5: print("Saturday")
    case 6: print("Sunday")
    case _: print("Invalid Day Number")

ENTER DAY NO= 5

Saturday

# String

String is a sequence of characters.

ex:

s1='Hello1'
    
    012345
    
 -6-5-4-3-2-1

In [119]:
s1='hello'
print(s1[-4])
len(s1)

e

5

In [121]:
s1="hELLo"
for x in s1:
    print(x)

h
E
L
L
o

In [123]:
s2="cat"
for i in range(0,3,1):
    print(s2[i])

c
a
t

## Declarations

In [126]:
s1='Hello'
s2='''Hello'''
s3="Hello"
s4="""Hello"""
# Varities Ways of Working with Strings

## Immutability of Strings

Strings are immutable and cannot be changed. If alterations are made it produces a new string

In [130]:
s1='Hello World'
s1[4]='k'

TypeError: 'str' object does not support item assignment

## String Slicing

In [135]:
s1="Hello World"
print(s1[1:7:1])

ello W

In [137]:
s1="Hello IIEST"
print(s1[-1:0:-1])

TSEII olle

In [141]:
s1="Hello IIEST"
s2=s1[-1:0:-1]
# Formed a New String

In [143]:
s1="Dog Fight"
print(s1[:])

Dog Fight

## String Operations

In [150]:
s1="1010"
s2="11"
s3=s1+s2
print(s3)
## Addition

101011

In [152]:
s1="23"
s2=s1*3
print(s2)
## Multiplication

232323

In [154]:
s1="Antarikshya"
print("Anta" in s1)

True

In [156]:
s2="Antarikshya"
print("A" in s2)

True

Strings can be compared by >,<,>=,<=,==,!= in  Lexicographic Order & Length of Strings & ASCII Values

## Class String

In [162]:
s1="Antariksh"
print(type(s1))

<class 'str'>

s1,s2,etc are objects of class Str.(Just Like in C++)

## Find & Index of Strings

#### (find, r-find, count, index, r-index)

In [169]:
s="Hello How Are You"
print(s.find("H"))

0

In [177]:
s="Hello How Are You"
x=s.find("How")
y=s.find("z")
print(x,y)
# returns -1 when not found

6 -1

In [181]:
s="Hello How Are You"
x=s.find("o",6,9)
print(x)

7

In [183]:
s="kite"
print(s.rfind("i",4,0))

1

In [4]:
S="Hello How are You"
X=S.index('How')
print(X)

6

Difference between Behavior of Find and Index

In [6]:
S="Hello How are You"
X=S.index('k')
print(X)

ValueError: substring not found

Here it returns error instead of -1

In [11]:
S="Hello How are You"
X=S.rindex('o',0,15)
print(X)

7

In [18]:
S="Hello How are You"
X=S.count('o')
print(X)

3

### Allignment & Padding

ljust, rjust, zfill, center

In [24]:
s="Hello"
print(s.ljust(10,'1'))
print(s.rjust(10,'b'))
print(s.center(10,'*'))
print(s.zfill(10))

Hello11111
bbbbbHello
**Hello***
00000Hello

#### Stripping Methods

lstrip, rstrip, strip

In [30]:
s="hihihiHellohihihi"
print(s.lstrip('hi'))
print(s.rstrip('hi'))
print(s.strip('hi'))

Hellohihihi
hihihiHello
Hello

In [32]:
s="Hello"
print(s.lstrip())

Hello

Hence when no characters are passed in the parameter of strip function, no stripping is done and it simply returns the function

### Joining & Splitting of a String

replace, join, split, r-split, splitlines

In [39]:
s1="a-b-c-d-e"
print(s1.replace('-',',',3)) # replace(old,new,count)
print(s1.replace('k','m'))

a,b,c,d-e
a-b-c-d-e

In [41]:
s2="abcd@gmail.com"
snew=s2.replace('gmail','yahoo')
print(snew)

abcd@yahoo.com

In [43]:
s1="xyz"
s2="abc"
print(s1.join(s2))

axyzbxyzc

In [49]:
s="Hello"
s1="/"
print(s1.join(s))

H/e/l/l/o

In [53]:
s1="John Ajay Smith"
s2=s1.split(" ")
print(s2)

['John', 'Ajay', 'Smith']

In [55]:
s1="John Ajay Smith"
s2=s1.split("h")
print(s2)

['Jo', 'n Ajay Smit', '']

In [57]:
s1='John,Smith,Ajay'
print(s1.split(","))

['John', 'Smith', 'Ajay']

In [59]:
s1="John,Smith,Ajay,Parsu,Rupam"
s2=s1.split(",",2)
print(s2)

['John', 'Smith', 'Ajay,Parsu,Rupam']

### Prefix & Suffix

startswith(prefix,start,end)

endswith(prefix,start,end)

removeprefix(prefix)

removesuffix(suffix)

partition(sep)

rpartition(sep)

In [67]:
s1="python is very easy"
print(s1.startswith("python"))
print(s1.endswith("easy"))
print(s1.startswith("is",7))

True
True
True

In [69]:
s1="abcd@gmail.com"
print(s1.endswith("gmail.com"))

True

In [71]:
s1="python programming"
s2=s1.removeprefix("py")
print(s2)

thon programming

In [73]:
s1="python programming"
s2=s1.removeprefix("tiu")
print(s2)

python programming

In [77]:
s1="python programming"
s2=s1.removesuffix("ming")
print(s2)

python program

In [81]:
s1="python is easy"
s2=s1.partition("is")
print(s2) ## in Tuple

('python ', 'is', ' easy')

### Case Conversion Methods

capitalize()

upper()

lower()

title()

swapcase()

casefold()

In [89]:
s1="hello"
print(s1.capitalize())
print(s1.upper())
s2="HelLo"
print(s2.lower())

Hello
HELLO
hello

In [91]:
s1="Hello How are You?"
print(s1.title())

Hello How Are You?

In [93]:
s1="Hello How are You?"
print(s1.swapcase())

hELLO hOW ARE yOU?

In [95]:
s1="Hello How are You?"
print(s1.casefold())

hello how are you?

### Inquiry Methods

isalpha()

islower()

isupper()

istitle()

isspace()

isidentifier()

isprintable()

In [103]:
s1="hello"
s2="hel8o"
print(s1.isalpha())
print(s2.isalpha())

True
False

In [106]:
s1="hello"
s2="HELLO"
print(s1.islower())
print(s2.isupper())

True
True

In [110]:
s1="Hello"
s2="Hello How Are You"
print(s2.istitle())

True

In [113]:
s1=""
print(len(s1))
print(s1.isspace())

0
False

In [115]:
s2="Fa "
print(len(s2))
print(s2.isspace())

3
False

In [117]:
s=" "
print(s.isspace())

True

In [120]:
s1="Hello Mrs. Jane"
print(s1.isprintable())

True

isidentifier gives whether valid identifier

In [123]:
s1="1num"
print(s1.isidentifier())

False

#### More Inquiry Methods

isdigit()

isdecimal()

isnumeric()

isascii()

isalnum()

In [136]:
s1="565915" # even in case of subscript/superscript it will give positive if digit
print(s1.isdigit())

True

In [130]:
s1="23A"
print(s1.isdigit())

False

In [134]:
s2="156.489" # only plain numbers and decimal (no sub/sup script or letters)
print(s2.isdecimal())

False

In [138]:
s1="565915" # even in case of subscript/superscript it will give positive if digit
print(s1.isnumeric())

True

In [140]:
s1="61456IEBDHHDeddBI0)"
print(s1.isascii())

True

In [142]:
s1="A12"
print(s1.isalnum())

True

## Formatted Printing

ASCII Codes

In [146]:
ord('A')

65

In [148]:
chr(112)

'p'

### Unicode

In [8]:
a="\u03b1\u03b2\u03b3" #from unicode.org
print(a)

### Escape Sequences

In [13]:
print("Hello\nWorld")
print("Hello\rWorld")
print("Hello\fWorld")
print("Hello\tWorld")
print("Hello\vWorld")
print("C:\\")

Hello
World
World
Hello
World
Hello	World
Hello
World
C:\

In [15]:
print('Ajay\'s')

Ajay's

### Print Function

print('object',sep=" ",end=" ",file=" ")

In [21]:
print("Hello",end=" ")
print("World")

Hello World

In [23]:
print("Hello","World","Me",sep=",")

Hello,World,Me

### C Style Printing

In [37]:
item="memory"
space=32
price=12.65
print("Cost of %s of %dGB storage is %f"%(item,space,price))

Cost of memory of 32GB storage is 12.650000

In [32]:
price=125.661
print('%f'%(price))

125.661000

In [34]:
name="Antariksh"
print('My name is %s'%(name))

My name is Antariksh

### Python Printing

In [39]:
item="memory"
space=32
price=12.65
print("Cost of {} of {}GB storage is {}".format(item,space,price))

Cost of memory of 32GB storage is 12.65

In [45]:
data=100
print('start {0:10} end'.format(data))

start        100 end

In [43]:
data=100
print('start {0:^10} end'.format(data))

start    100     end

## Regular Expressions

Mainly Pattern Matching & it's related modules

In [48]:
import re
re.match('abc','abcdef')

In [50]:
import re
re.findall('can','can you can a can as a canner')

['can', 'can', 'can', 'can']

In [55]:
import re
re.search('very','python is very easy').span()

(10, 14)

### Quantifiers

/+ --> 1 or more

/* --> 0 or more

? --> 0 or 1

{m} --> exactly m times

{m,n} --> from m to n times

In [66]:
import re
re.fullmatch('(ab)?','ab')

In [64]:
import re
re.fullmatch('(ab)?','')

In [68]:
import re
re.fullmatch('(ab)*','abababababab')

In [72]:
import re
re.findall('[abcd]+','123 abc iojif abcd')

['abc', 'abcd']

## List

In [2]:
L1=[0,1,2,3,4,5]
print(L1)

[0, 1, 2, 3, 4, 5]

In [6]:
L1=list(('abcde'))
print(L1)
print(L1[2])

['a', 'b', 'c', 'd', 'e']
c

In [8]:
L=list(("abcde"))
for i in range(0,5):
    print(L[i],end=" ")

a b c d e

In [10]:
list=["abcde",56,24.356,True,3+4j]
print(list)

['abcde', 56, 24.356, True, (3+4j)]

Modifying Lists

In [12]:
list=["abcde",56,24.356,True,3+4j]
print(list)
list[3]="IIT"
print(list)

['abcde', 56, 24.356, True, (3+4j)]
['abcde', 56, 24.356, 'IIT', (3+4j)]

## Appending & Removing Lists

In [16]:
L1=['abc',256,345.26,54+6j,True]
L1.append("abcdef")
L1.remove('abc')
print(L1)

[256, 345.26, (54+6j), True, 'abcdef']

### Indexing & Slicing

In [26]:
L1=[25,36,48,79,1,3,49]
print(L1[2:6:2])
print(L1[ : : 3])
print(L1[4: :-1])
print(L1[6:0:-1])

[48, 1]
[25, 79, 49]
[1, 79, 48, 36, 25]
[49, 3, 1, 79, 48, 36]

In [31]:
list=[12,36,78,98,45,1,0]
list[3]=[23,47] #Nested List
print(list)

[12, 36, 78, [23, 47], 45, 1, 0]

In [33]:
list=[1,2,3,4,5]
list[0:0]=[10]
list[4:4]=[25]
print(list)

[10, 1, 2, 3, 25, 4, 5]

In [35]:
list=[1,2,3,4,5]
list[1:4]=[10,2,3,4]
print(list)

[1, 10, 2, 3, 4, 5]

In [37]:
list=[1,2,3,4,5]
list[::2]=[10,11,12]
print(list)

[10, 2, 11, 4, 12]

In [39]:
list=[1,2,3,4,5]
list[::-1]=[10,11,12,13,14]
print(list)

[14, 13, 12, 11, 10]

## Operations on List

In [42]:
list1=[1,2,3]
list2=[4,5,6]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6]

In [46]:
list1=[1,2,3]
print(list1+[4])
print(list1)

[1, 2, 3, 4]
[1, 2, 3]

In [50]:
list=[1,2,3]
list.extend([4,5,6])
print(list)

[1, 2, 3, 4, 5, 6]

In [52]:
list=[1,2,3]
newlist=list*3
print(newlist)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [54]:
list=[1,[2,3],[4,5],6]
print([2,3] in list)

True

In [56]:
list=["red","blue","green"]
for x in list:
    print(x)

red
blue
green

In [58]:
list1=[1,2,3]
list2=[1,2,3,4]
list3=[2]
print(list1>list2)
print(list1<list3)
print(list2!=list3)

False
True
True

## List Traversals

In [61]:
list=[1,2,3,4,5]
for x in list:
    print(x,end=" ")

1 2 3 4 5

In [63]:
list=[5,6,7,8,9]
for i in range(0,5,1):
    print(list[i],end=" ")

5 6 7 8 9

## Adding Elements to List

In [72]:
L1=[1,2,3,4,5]
L1.append(6) #only one element, if more than one, error.
print(L1)

[1, 2, 3, 4, 5, 6]

In [74]:
L1=[1,2,3,4]
L1.extend([5,6,7])
L1[7:]=[8,9,10]
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [76]:
L1=[1,2]
L1.extend('python')
print(L1)

[1, 2, 'p', 'y', 't', 'h', 'o', 'n']

In [98]:
L1=[1,2,3,4]
L1.insert(0,"python")
L1[2:3]=["Pycharm",56]
print(L1)

['python', 1, 'Pycharm', 56, 3, 4]

In [94]:
l1=[1,2,3,4]
l2=l1.copy() #creates a shallow copy
print(l2)

[1, 2, 3, 4]

## Removing Elements from a List

In [105]:
list=[1,2,3,4,5]
list.pop(2) #pop(index)
print(list)

[1, 2, 4, 5]

In [107]:
list=[1,2,3,4]
list.pop()
print(list)

[1, 2, 3]

In [111]:
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [115]:
list=[1,2,3]
list.clear()
print(list)

[]

In [117]:
list=[1,2,3]
del list[2]
print(list)

[1, 2]

In [121]:
list=[1,2,3,4,5,6]
del list[1:4:2]
print(list)

[1, 3, 5, 6]

## Index,Sort & Reverse

In [133]:
L1=[10,20,30,40,10,20,30,20]
print(L1.index(20,2,9))
#index(element,start,end)

5

In [135]:
L1=[10,20,30,40,10,20,30,20]
L1.count(20)
#count(element)

3

In [137]:
L1.reverse()
print(L1)
#reverse()

[20, 30, 20, 10, 40, 30, 20, 10]

In [151]:
L1=[70,10,60,20,50,30,40]
L1.sort() #sort(key=None,reverse="False")
print(L1)

[10, 20, 30, 40, 50, 60, 70]

In [147]:
L1.sort(reverse="True")
print(L1)

[70, 60, 50, 40, 30, 20, 10]

In [149]:
L1=["coat","cat","python","bus"]
L1.sort(key=len,reverse="True")
print(L1)

['python', 'coat', 'cat', 'bus']

In [153]:
L1=['Bat','apple','Cat','dog']
L1.sort(key=str.lower)
print(L1)

['apple', 'Bat', 'Cat', 'dog']

In [155]:
L1=[x+1 for x in range(0,5)]
print(L1)

[1, 2, 3, 4, 5]

In [161]:
L3=[x.upper() for x in "Python"]
print(L3)

['P', 'Y', 'T', 'H', 'O', 'N']

In [163]:
list=[int(x) for x in '12345']
print(list)

[1, 2, 3, 4, 5]

In [165]:
list=[x for x in 'ab*cd8e' if x.isalpha()]
print(list)

['a', 'b', 'c', 'd', 'e']

### Nested Lists

In [168]:
list=[[1,2],3,[4,5,6]]
list[2][1]

5

Matrix

In [171]:
L1=[[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]]
for x in range(0,4):
    for y in range(0,4):
        print(L1[x][y],end=" ")
    print("\n")

1 2 3 4

5 6 7 8

9 10 11 12

13 14 15 16

## Tuple

In [174]:
tp=(7,8.3,8.3,2+5j,True)
#immutable
print(tp)

(7, 8.3, 8.3, (2+5j), True)

In [184]:
t1=tuple([1,2,3,4,5])
t2=(1,2,3,4,5)
t3=tuple('python')
t4=tuple(range(1,6))
print(t1,t2,t3,t4)

(1, 2, 3, 4, 5) (1, 2, 3, 4, 5) ('p', 'y', 't', 'h', 'o', 'n') (1, 2, 3, 4, 5)

In [186]:
t=(3)
type(t)

int

In [188]:
t=(3,)
type(t)

tuple

In [199]:
T=(*(x for x in range(1,6)),)
print(T)

(1, 2, 3, 4, 5)

In [201]:
T2=tuple(x for x in range(1,6))
print(T2)

(1, 2, 3, 4, 5)

In [203]:
T3=(*(x.upper() for x in "pYtHoN"),)
print(T3)

('P', 'Y', 'T', 'H', 'O', 'N')

In [205]:
T4=tuple(x for x in "abc46*j" if x.isalpha())
print(T4)

('a', 'b', 'c', 'j')

In [207]:
tup=(1,2,3,4,5,6)
print(tup[0:5:2])

(1, 3, 5)

In [209]:
tup=(1,2,3,4,5,6)
print(tup[5::-1])

(6, 5, 4, 3, 2, 1)

### Packing & Unpacking in Tuple

In [214]:
T1=(1,2,3)
T2=(4,5,6)
T3=T1+T2
T4=T1*3
print(T3)
print(T4)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [216]:
T1=1,2,3,4,5 #PACKING
print(T1)

(1, 2, 3, 4, 5)

In [222]:
T1=1,2,3,4,5
a,b,c,d,e=T1 #UNPACKING
print(a,b,c,d,e)

1 2 3 4 5

In [1]:
T1=1,2,3,4,5
a,b,c,d,e=T1

In [226]:
T1=1,2,3,4,5
a,*b,c=T1
print(a,b,c)

1 [2, 3, 4] 5

In [232]:
T1=1,2,3,4,5,6
a,b,*c=T1
print(a,b,c)

1 2 [3, 4, 5, 6]

In [234]:
T1=1,2,3,4
print(4 in T1)

True

# Sets

Sets contain mutable unordered-distinct,collection of hetero/homo-genous data

Discards Duplicates

In [248]:
s1={1,2,3}
s2=set([1,2,3,4,5,6])
s3=set('python')
s4={}
print(s1)
print(s2)
print(s3) ## Unordered
print(type(s4))

{1, 2, 3}
{1, 2, 3, 4, 5, 6}
{'p', 'n', 'o', 'y', 'h', 't'}
<class 'dict'>

In [252]:
s={10,20,30,40,50,60}
for x in s:
    print(x)
s.add(70)

50
20
40
10
60
30

In [254]:
a={1,2,3,[1,4]}

TypeError: unhashable type: 'list'

So, set cannot contain mutable form of data

Sets work on the basis of Hashtables

### Set Operations

In [264]:
s1={1,2,3,4,6}
s2={4,5,6}
s3=s1.union(s2)
print(s3)
s4=s1.intersection(s2)
print(s4)
s1.intersection_update(s2) #s1 gets updated
print(s1)

{1, 2, 3, 4, 5, 6}
{4, 6}
{4, 6}

In [270]:
s1={1,2,3,4}
s2={2,5}
s3=s1.difference(s2)
print(s3)
s2.difference_update(s1)
print(s2)

{1, 3, 4}
{5}

In [276]:
s1={1,2,3,4,5,6}
s2={4,5,6,7,8,9}
s3=s2.symmetric_difference(s1)
print(s3)
s1.symmetric_difference_update(s2)
print(s1)

{1, 2, 3, 7, 8, 9}
{1, 2, 3, 7, 8, 9}

### Set Operators

| = Union

& = Intersection

&= = Intersection_update

"-" = Difference

-= = Difference_update

^ = Symmetric Difference

^= = Symmetric Difference Update

In [282]:
s1={1,2,3,4,5,6,7}
s2={6,7,8,9,10,11,12}
print(s1|s2)
s1&=s2
print(s1)
s1-=s2
print(s1)
s2^=s1
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{6, 7}
set()
{6, 7, 8, 9, 10, 11, 12}

## Set Operations

In [293]:
s1={10,20,30,40,50,60}
s1.add((60,70)) #Tuples can be added
s1.add([20]) #Lists can't be added

TypeError: unhashable type: 'list'

In [303]:
#update always takes an iterable
s1={10,20,30,40}
s1.update((50,60))
s1.update(("py"))
print(s1)

{'p', 40, 10, 50, 20, 'y', 60, 30}

In [305]:
#copy makes a shallow copy
s1=[10,20,30]
s2=s1.copy()
print(id(s2),id(s1))

2085816094208 2085816093760

In [311]:
#pop deletes last element of the unordered set
#discard deletes requested element if not there no error i.e returns none
s1={10,20,30,40,50}
s1.pop()
print(s1)
s1.discard(20)
print(s1)

{20, 40, 10, 30}
{40, 10, 30}

In [313]:
#remove deletes requested element but if not present it returns error.
s1={10,20,30,40,50}
s1.remove(70)

KeyError: 70

In [315]:
s1={10,20}
s1.clear()
print(s1)

set()

## Set Comprehensions

In [319]:
s1={ x for x in "immutable" }
s2={ x**2 for x in range(-4,5)}
s3={ x for x in "immediate"}
print(s1,s2,s3)

{'i', 'l', 'm', 'u', 'e', 'a', 'b', 't'} {0, 1, 4, 9, 16} {'i', 'm', 'e', 'd', 'a', 't'}

## Dictionary

Dictionaries appear like Pairs of STL with "key" & "value"

In [323]:
d1={1:"abc",2:"bcd",3:"cde"}
print(d1)

{1: 'abc', 2: 'bcd', 3: 'cde'}

In [325]:
d1[2]

'bcd'

In [329]:
d1[2]="Two"
d1[2]

'Two'

In [331]:
for i in d1:
    print(i)

1
2
3

In place of keys, only immutable type of data-type can be taken while in value place, mutable type of data-type can be used

In [342]:
d2={101:"John",102:"Smith",103:"Jessica",104:"Kennedy"}
d3={"abacus":"a calculator","tiger":"an animal","pen":"machine to write"}
d4={(1,2,3):45,(1,4,7,9):78}

#### Iterable Pair Method of Declairng Dictionaries

In [346]:
d1=dict([(1,"One"),(2,"Two"),(3,"Three"),(4,"Four")])
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

#### Zip Function Usage

In [363]:
l1=[1,2,3,4]
l2=["ONE","TWO","THREE","FOUR","FIVE"]
l3=dict(zip(l1,l2))
print(l3)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

#### Ennumerate Function

In [368]:
L1=["One","Two","Three","Four","Five"]
d1=dict(enumerate(L1,start=1))
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

#### Iterable Pair Method Comprehension

In [374]:
L1=[(1,"One"),(2,"Two"),(3,"Three"),(4,"Four")]
d1={x:y for x,y in L1}
print(d1)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

#### Zip Function Comprehension

In [377]:
L1=[1,2,3,4,5]
L2=["ONE","TWO","THREE","FOUR","FIVE"]
d1={x:y for x,y in zip(L1,L2)}
print(d1)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR', 5: 'FIVE'}

#### Comprehension of Enumerate Function

In [379]:
L1=["ONE","TWO","THREE","FOUR","FIVE"]
D1={x:y for x,y in enumerate(L1,start=1)}
print(D1)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR', 5: 'FIVE'}

### Dictionary Loop Over

In [2]:
d1={1:"ONE",2:"TWO",3:"THREE",4:"FOUR"}
#I Want keys so i can write 
for x in d1:
    print(x)

1
2
3
4

In [10]:
#but I can also use the keys() method
d1.keys()

dict_keys([1, 2, 3, 4])

In [16]:
for x in d1.keys():
    print(x)

1
2
3
4

In [18]:
#Now i want to print values I can write
for x in d1:
    print(d1[x])

ONE
TWO
THREE
FOUR

In [20]:
#But I can also use values()
d1.values()

dict_values(['ONE', 'TWO', 'THREE', 'FOUR'])

In [22]:
for x in d1.values():
    print(x)

ONE
TWO
THREE
FOUR

In [24]:
#for printing items I can write
for x in d1:
    print(x,d1[x])

1 ONE
2 TWO
3 THREE
4 FOUR

In [26]:
#i can also use items()
for x,y in d1.items():
    print(x,y)

1 ONE
2 TWO
3 THREE
4 FOUR

In [5]:
#I can also use gets() to get value of a key but it will not add it into the dictionary
d1={1:"ONE",2:"TWO",3:"THREE",4:"FOUR"}
print(d1.get(5,"None"))
print(d1)

None
{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR'}

In [34]:
#but setdefault() adds it into the dictionary if not present
d1.setdefault(5,'None')

'None'

In [36]:
for x,y in d1.items():
    print(x,y)

1 ONE
2 TWO
3 THREE
4 FOUR
5 None

### More About DICTIONARY Methods

In [43]:
d1={1:"ONE",2:"TWO",3:"THREE",4:"FOUR"}
d2={5:"FIVE",6:"SIX"}
d1.update(d2)

In [45]:
print(d1)

{1: 'ONE', 2: 'TWO', 3: 'THREE', 4: 'FOUR', 5: 'FIVE', 6: 'SIX'}

In [47]:
L1=[1,2,3,4]
d1=dict.fromkeys(L1,"Unknown") ## Using class name not the object d1

In [49]:
d1.items()

dict_items([(1, 'Unknown'), (2, 'Unknown'), (3, 'Unknown'), (4, 'Unknown')])

In [51]:
d2=d1.copy() #shallow copy
print(d2 is d1)

False

In [53]:
d1={1:"ONE",2:"TWO",3:"THREE",4:"FOUR"}
d1.pop(2)

'TWO'

In [61]:
d1.pop(5,"Missing") #delete requested key(& value as per key) if not present display the alternate

'Missing'

In [57]:
d1.popitem() #delete recent entry

(4, 'FOUR')

In [59]:
d1.clear() #deletes/clears entire dictionary

# Functions

Function is a piece of code which performs a specific Task and can be called multiple times.

There are built-in functions & user defined functions.

Function name have the same rules as variable name

#### Based on Positional

In [14]:
def volume_of_cuboid(length,breadth,height): #Formal Parameters/Arguments
    vol=length*breadth*height
    return vol

In [10]:
v=volume_of_cuboid(10,15,20) #Actual Parameters/Arguments
print("Volume is=",v)

Volume is= 3000

#### Based on Keyword

In [22]:
def volume(leng,bred,heig):
    print(leng,bred,heig)
    vol=leng*bred*heig
    return vol
v=volume(bred=15,leng=10,heig=5)
print(v)

10 15 5
750

HENCE positional & Keyword gets inter-winded

In [33]:
def volume(leng,bred,heig):
    print(leng,bred,heig)
    vol=leng*bred*heig
    return vol
v=volume(15,leng=10,heig=5) #it takes multiple length values
print(v)

TypeError: volume() got multiple values for argument 'leng'

In [27]:
v=volume(12,bred=7,9)
print(v)

SyntaxError: positional argument follows keyword argument (1822415951.py, line 1)

So you can give positional or keyword arguments or mixed (only if keyword on right
and positional on left)

### Default Arguments

Default arguments must be given from right side

In [44]:
def volume(l=1,b=1,h=1):
    v=l*b*h
    return v

In [50]:
v=volume(10,5,3)
v=volume(10,5)
v=volume(10)
v=volume()

In [56]:
def fun(a=1,b="hello",c=(1,2,5)):
    print(a,b,c)
fun()
fun(5,15,30.35)
fun([10,12],(12,25),{23:"hello"})

1 hello (1, 2, 5)
5 15 30.35
[10, 12] (12, 25) {23: 'hello'}

Important Condition

Only creates once and then continues appending. Very important example

In [59]:
def fun(l=[1,2,3]):
    l.append(len(l))
    print(l)
fun()
fun()
fun([10,11])
fun()

[1, 2, 3, 3]
[1, 2, 3, 3, 4]
[10, 11, 2]
[1, 2, 3, 3, 4, 5]

#### Positional Only Arguments

In [69]:
def fun(a,b,/,c,d):
    print(a,b,c,d)
fun(15,20,30,45)
fun(15,20,c=30,d=45)
fun(15,20,30,d=45)
#fun(before "/" should be positional only,/,can be positional or keyword)

15 20 30 45
15 20 30 45
15 20 30 45

In [75]:
#def fun(a,b,c,d,/) --> works where all are positional
#def fun(/,a,b,c,d) --> does not work since atleast one must be positional.
#def fun(a,/,b,c,d) --> works fine

So "/" is mainly use to force type of arguments (positional or keyword)

#### Keyword Only Arguments

In [86]:
def fun(a,b,*,c,d):
    print(a,b,c,d)
fun(15,20,c=30,d=45)
fun(15,b=20,c=30,d=45)
fun(a=15,b=20,c=30,d=45)
#fun(before "*" can be positional or keyword,*,should be keyword)

15 20 30 45
15 20 30 45
15 20 30 45

In [79]:
#def fun(a,b,c,d,*) --> does not work since all positional and no keyword
#def fun(*,a,b,c,d) --> works fine where all are keyword
#def fun(a,*,b,c,d) --> works fine

In [81]:
def fun(a,b,/,c,d,*,e,f):
    print(a,b,c,d,e,f)
fun(15,20,c=35,d=42,e=78,f=9)

15 20 35 42 78 9

but def fun(a,b,*,/,c,d,e,f) --> Wrong syntax since / comes before *

#### Variable Length Positional Arguments

In [95]:
def fun(*args): #Variable Length Positional Arguments
    for x in args: #Creates Tuple out of the Variable Length Arguments
        if(type(x)==bool):
            print(x)
fun("Hello",15,12.33,True)

True

In [97]:
# def fun(a,b,*args): --> a and b must be positional only since args will be given args 
# def fun(*args,a,b): --> a and b must be keyword only.

In [101]:
def fun(*args):
    print(args,len(args))

L1=[1,2,3]
fun(L1)

([1, 2, 3],) 1

In [105]:
def fun(*args):
    print(args,len(args))

L1=[1,2,3]
fun(*L1) #--> Unpacking

(1, 2, 3) 3

#### Variable Length Keyword Arguments

In [109]:
def fun(**kwwargs):
    print(kwwargs)

fun(a=5,b=3)

{'a': 5, 'b': 3}

Hence it stores this keyword arguments as dictionaries unlike positional arguments as tuples

In [114]:
def fun(**kwargs):
    for item in kwargs.items():
        if(item[0]=='b'):
            print(item[1])

fun(a=5,b=10,c=15)

10

In [120]:
def fun(a,b,**kwargs): # both positional and keyword arguments can be passed before variable length keyword argument
    print(a,b,kwargs)

fun(10,b=15,c=13,d=15)

10 15 {'c': 13, 'd': 15}

In [124]:
def fun(**kwargs,a,b): # both positional and keyword arguments cannot be passed after variable length keyword argument
    print(a,b,kwargs) 

fun(a=10,b=15,c=13,d=15) #does not hold any meaning

SyntaxError: arguments cannot follow var-keyword argument (1676748722.py, line 1)

In [126]:
def fun(*args,a,b,**kwargs):
    print(*args,a,b,**kwargs)

fun(10,15,"hello",a=12,b=78,c=35,d=79,e=True)

TypeError: 'c' is an invalid keyword argument for print()

####  Multiple Returns

A Function can return multiple values in the form of a tuple

In [130]:
def marks(a,b,c):
    suma=a+b+c
    mul=a*b*c
    return suma,mul

print(marks(1,2,3))

(6, 6)

In [132]:
def marks(phys,chem,math):
    total=phys+chem+math
    avg=total/3
    if(avg>=50):
        grade="pass"
    else:
        grade="fail"
    return total,avg,grade

marks(100,99,98)

(297, 99.0, 'pass')

## Iterators

In [5]:
L1=[10,12,14,16]
it=iter(L1)
print(next(it))
print(next(it))
print(next(it))

10
12
14

In [7]:
s1={10,15,"python"}
it=iter(s1)
print(next(it))
print(next(it))
print(next(it))

10
python
15

In [9]:
d1={1:"abc",2:"def",3:"ghi"}
it=iter(d1)
print(next(it))
print(next(it))

1
2

## Generators

In [15]:
r=range(5) #Generator Function
print(r)
it=iter(r)
print(next(it))
print(next(it))

range(0, 5)
0
1

In [21]:
#Writing own Generator Function
def myrange(n):
    i=0
    while(i<n):
        yield i #important usage
        i+=1

m=myrange(5)
print(next(m))
print(next(m))
print(next(m))
print(next(m))

0
1
2
3

In [27]:
li=["sun","mon","tue","wed","thu","fri","sat"]
def days():
    i=0
    while(True):
        if(i==7):
            i=0
        yield li[i]
        i+=1

m=days()
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))
print(next(m))

sun
mon
tue
wed
thu
fri
sat
sun
mon
tue

## Local & Global Variables

In [32]:
g=5.25
print("Outside-1:",g)

def fun():
    a=10 #local variable
    print("Local:",a)
    print("Global:",g)

fun()
print("Outside-2:",g)

Outside-1: 5.25
Local: 10
Global: 5.25
Outside-2: 5.25

In [34]:
g=5.25
print("Outside-1:",g)

def fun():
    a=10 #local variable
    g=99
    print("Local:",a)
    print("Global:",g)

fun()
print("Outside-2:",g)

Outside-1: 5.25
Local: 10
Global: 99
Outside-2: 5.25

In [38]:
g=5.25
print("Outside-1:",g)

def fun():
    global g #emphasizing usage of Global Variable
    a=10 #local variable
    g=99
    print("Local:",a)
    print("Global:",g)

fun()
print("Outside-2:",g)

Outside-1: 5.25
Local: 10
Global: 99
Outside-2: 99

Local Variables can be used only within a function and global variables can be used anywhere and should be declared before func call

so it gives in the form of a dictionary with pre-defined global variable dictionaries before declared ones

**Recursive Functions can also be written just like C++ or C**

### Mathematical Functions

In [59]:
#absolute value
print(abs(3+4j))
print(abs(-32))

5.0
32

In [63]:
#power pow(base,exp,mod="None")
print(pow(10,2)) #100
print(pow(7,-2))
print(pow(10,12,3)) #%3

100
0.02040816326530612
1

In [69]:
print(round(4.7))
print(round(4.5)) #for point5 it takes even number nearer to it, significant digit rounding

5
4

In [71]:
round(3.545123,3)

3.545

In [75]:
divmod(15,4) #gives division and mod

(3, 3)

In [81]:
# min([-10,3,7,8,9,-2],*key=None,default=None) --> keyword compulsory after list
min([-10,3,7,8,9,-2],key=None,default=None)

-10

In [83]:
min([],default="Empty List")

'Empty List'

In [87]:
min([-10,2,3,-1,0,-4,-12],key=abs,default="Empty")

0

In [93]:
max([-10,2,3,-1,0,-4,-12],key=None,default="Empty")

3

In [95]:
sum([10,-2,4,-19],start=17)

10

In [97]:
eval("10+20*4/5")

26.0

In [101]:
global_dict={"a":1,"b":2,"c":4}
local_dict={"d":5}

In [103]:
eval("a+b+c+d",global_dict,local_dict)

12

### Object & Attribute Function- Built in

In [108]:
a=15.23
n=(12,25,6)
print(type(a))
print(type(n))
print(type([12,25]))

<class 'float'>
<class 'tuple'>
<class 'list'>

In [3]:
a="brrbrrpatapim"
print(isinstance(a,str))
print(isinstance(a,(int,float,str)))

True
True

In [5]:
a="11"
print(hasattr(a,"find"))
print(hasattr(a,"lower"))
print(hasattr(a,"search"))

True
True
False

In [120]:
import math
getattr(math,'pi')

3.141592653589793

In [122]:
getattr(math,'sqrt')(49)

7.0

In [124]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [132]:
import flask
dir(flask)

['Blueprint',
 'Config',
 'Flask',
 'Request',
 'Response',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__getattr__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'abort',
 'after_this_request',
 'annotations',
 'app',
 'appcontext_popped',
 'appcontext_pushed',
 'appcontext_tearing_down',
 'before_render_template',
 'blueprints',
 'cli',
 'config',
 'copy_current_request_context',
 'ctx',
 'current_app',
 'flash',
 'g',
 'get_flashed_messages',
 'get_template_attribute',
 'globals',
 'got_request_exception',
 'has_app_context',
 'has_request_context',
 'helpers',
 'json',
 'jsonify',
 'logging',
 'make_response',
 'message_flashed',
 'redirect',
 'render_template',
 'render_template_string',
 'request',
 'request_finished',
 'request_started',
 'request_tearing_down',
 'sansio',
 'send_file',
 'send_from_directory',
 'session',
 'sessions',
 'signals',
 'stream_template',
 'stream_template_string',
 'stream_with_context',
 't',
 'template_rendered',
 'templating',
 'typing',
 'url_for',
 'wrappers']

In [138]:
a,b=10,10
print(id(a))
print(id(b))
c=[1,2,3,4]
d=[1,2,3,4]
print(c is d)

140728464976600
140728464976600
False

In [140]:
h="hello world"
print(repr(h))

'hello world'

### Iteration & Sequence Functions

In [151]:
list1=[-3,4,12,1,89]
sorted(list1,key=abs,reverse=True)

[89, 12, 4, -3, 1]

In [155]:
list1=[-3,4,12,1,89]
list2=reversed(list1)
list(list2)

[89, 1, 12, 4, -3]

In [165]:
list1=[-3,4,12,1,89]
uv=slice(0,5,1)
list1[uv]

[-3, 4, 12, 1, 89]

In [167]:
list1=[-3,4,12,1,89]
it=iter(list1)
next(it)

-3

## Module

In [173]:
import math
import flask as fl
from datetime import *

Every Python Program can act as a module also

In [187]:
data=100
def add(a,b):
    return a+b
def sub(a,b):
    return a-b

print("Addition is :",add(10,5))
print("Subtraction is :",sub(10,5))

Addition is : 15
Subtraction is : 5

Saving this as *myprogram.py*

In [ ]:
#In a file named main.py

import myprogram as m
print("Data:",m.data)
print("Add=",m.add(15,20))
print("Sub=",m.sub(20,15))

In [ ]:
#Output
Addition is 15
Subtraction is 5
Data:100
Add=35
Sub=5

Hence Output will also contain imported module's contents & execute it's code

Now if I want to omit the imported module's code execution

Every python program has a built in "__name__" function which displays "__main__" if it is itself running else display's it's name when imported.
SO I can modify it's program as

In [189]:
data=100
def add(a,b):
    return a+b
def sub(a,b):
    return a-b
if(__name__ == "__main__"):
    print("Addition is :",add(10,5))
    print("Subtraction is :",sub(10,5))

Addition is : 15
Subtraction is : 5

### Functions as Objects

First Class Functions in Python acting as Objects (sort of Macros)

In [198]:
def fun():
    print("My name")

f=fun
f()

My name

In [203]:
print(__name__)

__main__

In [205]:
print(print.__doc__)

Prints the values to a stream, or to sys.stdout by default.

  sep
    string inserted between values, default a space.
  end
    string appended after the last value, default a newline.
  file
    a file-like object (stream); defaults to the current sys.stdout.
  flush
    whether to forcibly flush the stream.

### Nested Functions

In [208]:
def totalarea(l,b,h):
    def area(d1,d2):
        return d1*d2
    return 2*(area(l,b)+area(b,h)+area(l,h))
print(totalarea(2,3,6))

72

Only Outer Function can be called in Nested Functions & Inner Function can only be called within the outer function itself.|

### Function as Parameter

In [214]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y
def arithmetic(f,x,y):
    return f(x,y)
a=arithmetic(add,10,12)
b=arithmetic(sub,25,13)
print(a,b)

22 12

### Returning Function

In [255]:
def Outer():
    def Inner():
        print("Message Received")
    return Inner

p=Outer()
p()

Message Received

In [253]:
import builtins
print = builtins.print

### Closure Functions

Nested Function

Returning Function

Inner Function access Outer Function Variable

In [262]:
def Outer():
    msg="Welcome"
    def Inner():
        print("+" * 10)
        print(msg)
        print("*" * 10)
    return Inner
f=Outer()
f()

++++++++++
Welcome
**********

In [264]:
def Outer(msg):
    def Inner():
        print("+" * 10)
        print(msg)
        print("*" * 10)
    return Inner
f=Outer("python")
f()

++++++++++
python
**********

## Decorator Function

Closure Function + Function as Parameter

In [271]:
def Outer(f):
    def Inner():
        print("+" * 5)
        f()
        print("*" * 5)

    return Inner

def display():
    print("Welcome")

r=Outer(display)
r()

+++++
Welcome
*****

Now I can alter definition and mechanism of display function

In [276]:
def Outer(f):
    def Inner():
        print("+" * 5)
        f()
        print("*" * 5)

    return Inner

def display():
    print("Welcome")

display=Outer(display)
display()

+++++
Welcome
*****

Again I can run the Outer function without de-reffering

In [278]:
def Outer(f):
    def Inner():
        print("+" * 5)
        f()
        print("*" * 5)

    return Inner

@Outer #REFERENCING
def display():
    print("Welcome")

#display=Outer(display)
display()

+++++
Welcome
*****

## Lambda Functions

Used in Functional Programming,Single Line-Simple Anonymous Program

In [2]:
a = lambda x : x*2
print(a(5))

10

In [287]:
print((lambda x,y : x+y)(2,5))

7

In [293]:
l1=[1,2,3,4,5,6,7,8,9]
s = filter(lambda x : x%2==0 ,l1)
f=list(s)
print(f)

[2, 4, 6, 8]

In [12]:
k = filter(lambda  x  : x%3==0, [12,2,4,98,-3])
print(list(k))

[12, -3]

In [14]:
l1=[1,2,3,4]
l2=list(map(lambda x:-x,l1))
print(l2)

[-1, -2, -3, -4]

In [18]:
#make a new list if no. is odd->-ve otherwise +ve
l1=[1,2,3,4,5,6,7,8,9,10]
l2=list(map(lambda x : -x if x%2==1 else x,l1))
print(l2)

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [24]:
l1=[[1,2,"Three"],[2,4,"Six"],[1,7,"Eight"]]
l2=sorted(l1,key=lambda x:x[0]+x[1],reverse=False)
print(l2)

[[1, 2, 'Three'], [2, 4, 'Six'], [1, 7, 'Eight']]

## Caller Class

In [32]:
class day:
    def __init__(self):
        self.days={1:"Monday",2:"Tuesday",3:"Wednesday",4:"Thursday",5:"Friday",6:"Saturday",7:"Sunday"}
    def __call__(self,dayno):
        return self.days[dayno]
d=day() #d object of class day
print(d(5)) #d object works as a function itself and calls the __call__ function

Friday

# Exception Handling

There are 3 Types of Errors -- Syntax Error, Logical Error & Runtime Error

Developer faces Syntax Error (rectified by Interpretor/Compiler), Logical ERROR (rectified by Debugger) & User faces Runtime ERROR 
(rectified & Guided by Developer)

Programmer has to make sure to write extra code to handle user-input situations while run-time. This is known as Exception Handling.

### Examples of Exception Handling

Zero Division Error

In [40]:
a=int(input("Enter Numerator:"))
b=int(input("Enter Denominator:"))
c=a//b
print(c)

Enter Numerator: 12
Enter Denominator: 0

ZeroDivisionError: integer division or modulo by zero

Type Error

In [47]:
a=10
b="x"
c=a//b
print(c)

TypeError: unsupported operand type(s) for //: 'int' and 'str'

Index Error

In [50]:
l1=[1,2,3,4]
print(l1[10])

IndexError: list index out of range

Key Error

In [53]:
d1={1:"One",2:"Two",3:"Three"}
print(d1[5])

KeyError: 5

Value Error

In [56]:
int('xyz')

ValueError: invalid literal for int() with base 10: 'xyz'

Syntax Error

In [59]:
int("xyz)

SyntaxError: unterminated string literal (detected at line 1) (3687977365.py, line 1)

### Exception Handling

In [64]:
a,b=10,0
try:
    c=a//b
    print(c)
except:
    print("Error")
print("End")

Error
End

In [72]:
l1=[1,2,3,4,5]
try:
    index=10
    print(l1[index])
    print("End of Try")
except:
    print("Error")
print("End of Program")

Error
End of Program

### Handling Multiple Exceptions

In [82]:
l1=[1,2,3,4,5,6]
try:
    index=int("abc")
    print(l1[index])
    print("End of Try")
except TypeError:
    print("index must be int")
except IndexError:
    print("Enter Valid Index")
except:
    print("Some Error")

print("End of Program")

Some Error
End of Program

In [88]:
l1=[1,2,3,4,5,6]
try:
    index=12
    print(l1[index])
    print("End of Try")
except TypeError as msg:
    print(msg)
except IndexError as ind:
    print(ind)
except:
    print("Some Error")

print("End of Program")

list index out of range
End of Program

In [92]:
l1=[1,2,3,4,5,6]
try:
    index="abc"
    print(l1[index])
    print("End of Try")
except TypeError as msg:
    print(msg)
except IndexError as ind:
    print(ind)
except:
    print("Some Error")

print("End of Program")

list indices must be integers or slices, not str
End of Program

In [98]:
l1=[1,2,3,4,5,6]
try:
    index=12
    print(l1[index])
    print("End of Try")
except (TypeError,IndexError) as msg:
    print(msg)
except:
    print("Some Error")

print("End of Program")

list index out of range
End of Program

In [96]:
l1=[1,2,3,4,5,6]
try:
    index="abc"
    print(l1[index])
    print("End of Try")
except (TypeError,IndexError) as msg:
    print(msg)
except:
    print("Some Error")

print("End of Program")

list indices must be integers or slices, not str
End of Program

### Acceptable methods of Exception Handling

In [105]:
def div(a,b):
    if b!=0:
        return a//b
    else:
        return -1
r=div(10,0)
if r==-1:
    print("Div by zero")
else:
    print(r)

Div by zero

In [107]:
def div(a,b):
    if b!=0:
        return a//b
    else:
        return -1
r=div(10,5)
if r==-1:
    print("Div by zero")
else:
    print(r)

2

But again if 10,-10 it would give -1 which would indicate div by zero, hence the thing is wrong.

In [119]:
def div(a,b):
    if b!=0:
        return a//b
    else:
        raise ZeroDivisionError
try:
    r=div(10,0)
    print(r)
    print("end")
except:
    print("Division by Zero")

Division by Zero

In [122]:
def div(a,b):
    if b!=0:
        return a//b
    else:
        raise ZeroDivisionError
try:
    r=div(10,-10)
    print(r)
    print("end")
except:
    print("Division by Zero")

-1
end

### Else block

In [124]:
def div(a,b):
    if b!=0:
        return a//b
    else:
        raise ZeroDivisionError
try:
    r=div(10,-10)
except:
    print("Division by Zero")
else:
    print(r)
    print("end")

-1
end

After try block, if no exceptions arise, else block is executed always, hence we can just pass the exception deciding code in try block and write the rest code in else block as a continuation if the condition is followed

### Finally Block

Finally block is always executed irrespective of working of try or except block

In [160]:
def fun():
    try:
        res=int("abc")
        return res
    except Exception as e:
        raise e
    finally:
        print("Function Ended")
a=fun()
print(a)

Function Ended

ValueError: invalid literal for int() with base 10: 'abc'

### User Defined Exceptions

In [162]:
class NegativeError(Exception):
    pass

def area(l,b):
    if(l>=0 and b>0):
        return l*b
    else:
        raise NegativeError("-ve Dimensions")

area(-2,3)

NegativeError: -ve Dimensions

In [168]:
class NegativeError(Exception):
    def __init__(self):
        self.msg="-ve Dimensions"
    def __str__(self):
        return self.msg

def area(l,b):
    if(l>=0 and b>0):
        return l*b
    else:
        raise NegativeError()

area(-2,3)

NegativeError: -ve Dimensions

### Nested Try Except

In [177]:
l1=[1,2,3,4,5,6]
try:
    index=int(input("Enter index:"))
    print(l1[index])
except ValueError as e:
    print(e)
except IndexError as e:
    print(e)
except TypeError as e:
    print(e)

Enter index: abc

invalid literal for int() with base 10: 'abc'

In [179]:
l1=[1,2,3,4,5,6]
try:
    index=int(input("Enter index:"))
    print(l1[index])
except ValueError as e:
    print(e)
except IndexError as e:
    print(e)
except TypeError as e:
    print(e)

Enter index: 12

list index out of range

In [183]:
l1=[1,2,3,4,5,6]
try:
    try:
        index=int(input("Enter index:"))
    except ValueError as e:
        print(e)
    print(l1[index])
except IndexError as e:
    print(e)

Enter index: 12

list index out of range

In [187]:
l1=[1,2,3,4,5,6]
try:
    try:
        index=int(input("Enter index:"))
    except ValueError as e:
        print(e)
    print(l1[index])
except IndexError as e:
    print(e)
except Exception as e:
    print(e)

Enter index: abc

invalid literal for int() with base 10: 'abc'
list index out of range

## File Handling

In [ ]:
fp=open("abc.txt","r")
str1=fp.read(32)
print(str1)
fp.close()

In [ ]:
#Append and read
fp=open("abc.txt","r")
str1=fp.read(32)
print(str1)
str2=input("Enter a string to write to the file: ")
fp=open("abc.txt","a")
fp.write(str2)
fp=open("abc.txt","r")
str3=fp.read()
print(str3)
fp.close()

In [ ]:
#The General abc.txt (Updated)
This is a Python Text File and is a simple Test File.My name is Antarikshya MitraMy name is AntarikshyaMy name is Antarikshya Mitra

Various Methods:-

In [ ]:
file.read(len)
file.write(str)
file.close()
file.readline(len)
file.readlines(sizehint)
file.flush() #clear the buffer memory
file.seek(offset[,whence])
file.tell()
readable() #check whether the file is readable
writable() #check whether the file is writable
file.writelines(sequence)

In [198]:
file=open("abc.txt","w")
type(file)

_io.TextIOWrapper

In [200]:
fp=open("abc.txt","wb")
type(file)

_io.TextIOWrapper

In [208]:
fp=open("abc.text","w")
print(fp.name)
print(fp.mode)
print(fp.closed)
# Hence we can see details of the file through the file pointer

abc.text
w
False

In [ ]:
fp=open("abc.txt","r")
str1=fp.readlines(20)
print(str1)
fp.close()

In [ ]:
['Roses are red\n', 'Violets are blue\n'] #<---- Output
# here it reads line in the form of a list

In [ ]:
fp=open("abc.txt","r")
str1=fp.readlines()
print(str1)
fp.close()
fp=open("abc.txt","r")
str2=fp.readline()
print(str2)
fp.close()

In [ ]:
['Roses are red\n', 'Violets are blue\n', 'You love me\n', 'And I love you'] #as a list (readlines)
Roses are red #reads as an str

In [ ]:
fp=open("prop.txt","w")
str1="This is a test file.\nPython is great.\nI am learning Python.\n"
fp.write(str1)
fp.close()
list1=["This is a test file.","Python is great.","I am learning Python."]
fp=open("prop.txt","a")
fp.writelines(list1)
fp.close()

In [ ]:
This is a test file. ##Output in the file
Python is great.
I am learning Python.
This is a test file.Python is great.I am learning Python.

### Copying Binary File

Let's copy a picture of python logo(which I downloaded), Now I create a blank python-copy.png to copy the python-logo.png. Also I created logomaker.py to write the code for doing so.

In [ ]:
fp=open("python-logo.png","rb")
data=fp.read()
cp=open("python-copy.png","wb")
cp.write(data)
cp.close()
fp.close()

### Random Access Binary Files

WE can write Binary files directly with:

In [216]:
with open("mybin","wb") as f: #in this we don't have to manually close the file, it would automatically close  
    f.write("abcdefghij".encode()) #or f.write(b"abcdefghij")

In [218]:
with open("mybin","rb") as f:
    print(f.read(2).decode())  
    f.seek(4,0) # Move the cursor to the 4th byte  from 0th position #0-->beginning, 1-->current position, 2-->end of file
    print(f.read(1).decode())
    f.seek(-4,2)
    print(f.read(2).decode())

ab
e
gh

0th position means beginning of file

1st position means current position

2nd position means end position in the file

### Pickle & Un-Pickle

In Java,C++ this is called Serialization.

IN Python, this is called Pickle & Un-Pickle. 

where you read object from a file and write object into a file

This was in a file named student.py

In [223]:
class student:
    def __init__(self,name,rollno,dept):
        self.name = name
        self.rollno = rollno
        self.dept = dept
    def display(self):
        print("Name:", self.name)
        print("Roll No:", self.rollno) 
        print("Department:", self.dept)

This was in a file named storing.py

In [227]:
import student, pickle

list1=[student.student("Alice", 101, "CS"), student.student("Bob", 102, "EE"), student.student("Charlie", 103, "ME")]
with open("students.data", "wb") as f:
    for s in list1:
        pickle.dump(s,f) #object and file handler as arguments

This was in a file named reading.py

In [230]:
import student,pickle

with open("students.data", "rb") as f:
    for i in range(3):
        s=pickle.load(f)
        s.display()

Name: Alice
Roll No: 101
Department: CS
Name: Bob
Roll No: 102
Department: EE
Name: Charlie
Roll No: 103
Department: ME

# Object Oriented Programming (OOPS)

Class vs Object

Let's say I made a List and a String and I use a function of either of them on the other one

In [10]:
L = list(range(0,10))
s = "Kolkata"
s.append("23") 
L.upper()

AttributeError: 'str' object has no attribute 'append'

Now you see that 'str' "object" does not have an attribute named "append"

Hence here comes the need for Object and underlying whatever Attributes & Members it has

Elements of OOPS:

Object

Class

Abstraction

Encapsulation

Polymorphism

Inheritance

Data Hiding

## Class

In [22]:
a = 2
print(type(a))

<class 'int'>

Hence we saw that "a" belongs to a class Int, Hence a is an object of class Integer

#### Class Contains 2 Divisions

1.
Data Members

2. Functions or behaviours

In [60]:
class cars: #Use Pascal CAse-> PascalCase
    pass
bmw = cars()
print(type(bmw))

<class '__main__.cars'>

Car is a class and bmw is it's Object

In [43]:
class Instructor:
    def __init__(self,name,address,id):
        print("Creating a new Object")
        self.name=name
        self.address=address
        self.id=id
        self.followers=0


ins1=Instructor("Jenny","Kolakta",1234)
ins2=Instructor("Payal","Mumbai",2345)
ins2.followers=120
print(ins1.followers)
print(ins2.name)

Creating a new Object
Creating a new Object
0
Payal

In [55]:
class Instructor:
    followers=0 #Class Obj Variable
    def __init__(self,name,address,/):
        self.name=name
        self.address=address
    def display(self):
        print(self.name,self.address,self.followers,sep="\n")
        
ins1=Instructor("Jenny","Kolkata")
ins1.display()
print("\n")
ins2=Instructor("Jia","Gurgaon")
ins2.display()

Jenny
Kolkata
0


Jia
Gurgaon
0

CIRCLE EXAMPLE

In [58]:
import math
class Circle:
    def __init__(self,radius):
        if(radius>=0):
            self.radius=radius
        else:
            self.radius=0

    def perimeter(self):
        return 2*math.pi*self.radius

    def area(self):
        return math.pi*self.radius**2
    
    def display(self):
        print(f"Radius is {self.radius}")
        print(f"Perimeter is: {self.perimeter()}")
        print(f"Area is: {self.area()}")

c1 = Circle(radius=45)
c1.display()

Radius is 45
Perimeter is: 282.7433388230814
Area is: 6361.725123519331

## Inheritance

In [74]:
class Human:
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")
class Male(Human):
    def gender(self):
        print("I am a Male by Gender")
class Female(Human):
    def gender(self):
        print("I am a Female by Gender")
Female1=Female()
Male1=Male()
Male1.eat()
Male1.work()
Male1.gender()
Female1.eat()
Female1.work()
Female1.gender()

I can eat
I can work
I am a Male by Gender
I can eat
I can work
I am a Female by Gender

In [84]:
#OVER-RIDING
class Human:
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")
        
class Male(Human):
    def gender(self):
        print("I am a Male by Gender")
    def work(self):
        print("I work as a Male")
    def display(self,name):
        self.name=name
        self.gender()
        self.work()
        self.eat()
        super().work()
        print(f"Name:{self.name}")
        
class Female(Human):
    def gender(self):
        print("I am a Female by Gender")
    def work(self):
        print("I work as a Female")
        super().eat() #Accessing Base Functions
        
Female1=Female()
Male1=Male()
# Male1.eat()
# Male1.work()
# Male1.gender()
Male1.display("Antariksh")
# Female1.eat()
# Female1.work()
# Female1.gender()

I am a Male by Gender
I work as a Male
I can eat
I can work
Name:Antariksh

Types of Inheritance:

Single, Multiple, Multilevel, Hierarchial, Hybrid

## Multiple Inheritance

In [98]:
class Human:
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")
        
class Male():
    def gender(self):
        print("I am a Male by Gender")
    def work(self):
        print("I work as a Male")
    def display(self,name):
        self.name=name
        print(f"Name:{self.name}")
# ####################
class Boy(Human,Male):
    def display(self,name):
        self.name=name
        print(f"Name:{self.name}")
        self.gender()
        self.work()
        self.eat()
b=Boy()
b.display("Pratyush")
print(Boy.mro())
Male.work(b) #Here we access the other Parent's Member Functions
# Here Human is written first, hence it gets the priority

Name:Pratyush
I am a Male by Gender
I can work
I can eat
[<class '__main__.Boy'>, <class '__main__.Human'>, <class '__main__.Male'>, <class 'object'>]
I work as a Male

## Multi-Level Inheritance

In [109]:
class Human(object):
    def eat(self):
        print("I can eat")
    def work(self):
        print("I can work")
class Male(Human):
    def sleep(self):
        print("I can sleep whole day")
class Boy(Male):
    def work(self):
        Human.work(self)
        print("I can code")
b=Boy()
b.sleep()
b.eat()
b.work()
Male.sleep(b)

I can sleep whole day
I can eat
I can work
I can code
I can sleep whole day

## Hierarchial Inheritance

In [112]:
class Human(object):
    def eat(self):
        print("I can eat")
class Male(Human):
    def sleep(self):
        print("I can sleep whole day")
class Female(Human):
    def work(self):
        print("I can code")
fem=Female()
fem.work()
fem.eat()
mal=Male()
mal.sleep()
mal.eat()

I can code
I can eat
I can sleep whole day
I can eat

## Modules

We can re-implement codes and databases using Modules, improves Management, Efficiency & Workflow

In [11]:
import math
print(math.pi)

3.141592653589793

We can use Built-in Modules like this and even declare and use our own module

In [14]:
a = 10
def area(side):
    return side**2
def calculator(x,y):
    print("Addition is",x+y)
    print("Substraction is",x-y)
    print("Multiplication is",x*y)
    print("Division is",x/y)

Saved in my_module.py

In [19]:
import my_module as m
print(m.a)
print(m.area(45))
print(m.calculator(12,13))
def calculator(x,y):
    print("Hehe")
m.calculator(12,13)
calculator(15,23)

10
2025
Addition is 25
Substraction is -1
Multiplication is 156
Division is 0.9230769230769231
None
Addition is 25
Substraction is -1
Multiplication is 156
Division is 0.9230769230769231
Hehe

Saved and used in module_lecture.py

In [34]:
from my_module import calculator
calculator(12,13)
calculator(15,23)

Addition is 25
Substraction is -1
Multiplication is 156
Division is 0.9230769230769231
Addition is 38
Substraction is -8
Multiplication is 345
Division is 0.6521739130434783

In [38]:
from my_module import *
def calculator(x,y):
    print(f"x is {x} and y is {y}")
calculator(12,13)
print(a)

x is 12 and y is 13
10

In [40]:
import my_module as m
a,b=12,15
def calculator(x,y):
    print(f"x is {x} and y is {y}")
calculator(12,13)
print(a)
print(m.a)
m.calculator(4,5)

x is 12 and y is 13
12
10
Addition is 9
Substraction is -1
Multiplication is 20
Division is 0.8

## Abstraction with Python

In [44]:
from abc import ABC,abstractmethod
class Vehicle(ABC):
    def __init__(self,n):
        self.no_of_tyres=n
    @abstractmethod
    def start(self):
        pass

In [46]:
class Bike:
    def __init__(self):
        self.no_of_tyres=2
    def start(self):
        print("Start with kick")
class Scooty:
    def __init__(self):
        self.no_of_tyres=2
    def start(self):
        print("self start")
class Car:
    def __init__(self):
        self.no_of_tyres=4
    def start(self):
        print("start with key")

## Packages

In Python Packages organize modules & sub-packages

Let us create 

Homeshift-->Shifting_Item_Jenny,_ _init_ _.py,description.py,main.py

Shifting_Item_Jenny-->Cloths,Footwears,_ _init_ _.py,books.py

Cloths and Footwears each --> _ _init_ _.py,jeans.py,shirts.py

In [53]:
# In Books.py we Write
print("Hi from Books Module!")

Hi from Books Module!

In [55]:
# In Cloths-->jeans.py We Write
print("Hi from jeans module")
def display():
    print("This module contains all my jeans")

Hi from jeans module

In [57]:
# In Cloths-->shirts.py we write
print("Hi from shirts module")
def display():
    print("This module contains all my shirts")

Hi from shirts module

In [59]:
# In Footwears-->jeans.py we write
def display():
    print("I am wearing Clothes")

In [67]:
# In main.py we write
# We write "Homeshift." bcz of relative referencing
import Homeshift.Shifting_Item_Jenny.books
import Homeshift.Shifting_Item_Jenny.Cloths.jeans
from Homeshift.Shifting_Item_Jenny.Footwears.jeans import display
Homeshift.Shifting_Item_Jenny.Footwears.jeans.display()

I am wearing Clothes

In [72]:
pip install django

Requirement already satisfied: tzdata in c:\users\antarikshya\anaconda3\lib\site-packages (from django) (2023.3)
Using cached django-5.2.7-py3-none-any.whl (8.3 MB)
Downloading asgiref-3.10.0-py3-none-any.whl (24 kB)
Using cached sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, asgiref, django
Successfully installed asgiref-3.10.0 django-5.2.7 sqlparse-0.5.3
Requirement already satisfied: django in c:\users\antarikshya\anaconda3\lib\site-packages (5.2.7)
Requirement already satisfied: asgiref>=3.8.1 in c:\users\antarikshya\anaconda3\lib\site-packages (from django) (3.10.0)
Requirement already satisfied: sqlparse>=0.3.1 in c:\users\antarikshya\anaconda3\lib\site-packages (from django) (0.5.3)
Requirement already satisfied: tzdata in c:\users\antarikshya\anaconda3\lib\site-packages (from django) (2023.3)
Note: you may need to restart the kernel to use updated packages.

In [78]:
pip list

Package                           Version
--------------------------------- ------------------
aext-assistant                    4.1.0Note: you may need to restart the kernel to use updated packages.
aext-assistant-server             4.1.0

aext-core                         4.1.0
aext-core-server                  4.1.0
aext-panels                       4.1.0
aext-panels-server                4.1.0
aext-project-filebrowser-server   4.1.0
aext-share-notebook               4.1.0
aext-share-notebook-server        4.1.0
aext-shared                       4.1.0
aext-toolbox                      4.1.0
aiobotocore                       2.12.3
aiohappyeyeballs                  2.4.0
aiohttp                           3.10.5
aioitertools                      0.7.1
aiosignal                         1.2.0
alabaster                         0.7.16
alembic                           1.13.3
altair                            5.0.1
anaconda-anon-usage               0.4.4
anaconda-auth                     0.8.4
anaconda-catalogs                 0.2.0

In [ ]:
pip uninstall django

## Name-Main

Every file has it's own script and can also be simultaneaously used as a module

EX- In demo_namemain.py and demo1_namemain.py

In [ ]:
# if __name__ == "__main__":
#     print("Hi!!")
#     print(__name__) 
# else: 
#     print("Hiii!")
# We are directly running this module/file

In [ ]:

# import demo_namemain
# print(demo_namemain.__name__)
# print(__name__)
# When we run through another File

So we use this __name__ == "__main__" or some other "__testmain__" as per our convenience and concealability or usage